<section class="image-gallery">
  <div class="herosilde">
    {% if section.settings.custom_text_title %}
      <h2 class="h1">{{ section.settings.custom_text_title }}</h2>
    {% endif %}
    <div class="grid-slick">
    <div class="image-gallery-wrapper">

      {% for block in section.blocks %}
      <a href="{{ block.settings.product.url }}" class="prdct-link">
        <div class="image-gallery-item">
          <img src="{{ block.settings.gallery_image | img_url: 'large' }}" alt="{{ block.settings.alt_text | default: section.settings.custom_text_title }}">
        </div>
      </a>
      {% endfor %}
     
    </div>
 
    <div class="image-gallery-wrapper">
      {% for block in section.blocks %}
      <a href="{{ block.settings.product.url }}" class="prdct-link">
        <div class="image-gallery-item">
          <img src="{{ block.settings.gallery_image | img_url: 'large' }}" alt="{{ block.settings.alt_text | default: section.settings.custom_text_title }}">
        </div>
      </a>
      {% endfor %}
     
    </div>
     
    <div class="image-gallery-wrapper">
      {% for block in section.blocks %}
      <a href="{{ block.settings.product.url }}" class="prdct-link">
        <div class="image-gallery-item">
          <img src="{{ block.settings.gallery_image | img_url: 'large' }}" alt="{{ block.settings.alt_text | default: section.settings.custom_text_title }}">
        </div>
      </a>
      {% endfor %}
     
    </div>
    </div>
    
  </div>
</section>
{% schema %}
{
  "name": "Image Gallery",
  "max_blocks": 15,
  "settings": [
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Gallery Title"
    }
  ],
  "blocks": [
    {
      "type": "gallery_image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "gallery_image",
          "label": "Gallery Image"
        },
        {
        "type": "product",
        "id": "product",
        "label": "Product Url"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt text",
          "default": "Gallery image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Masonry Image Gallery",
      "category": "Media"
    }
  ]
}
{% endschema %}